<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--Chaine de connexion prod :-->
    <add name="MyConnectionProdString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataGite.mdf;Integrated Security=True"/>
   
    <!--Chaine de connexion test :-->
    <add name="MyConnectionTestString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\PHIL\GiteMontagne\GiteMontagne\DataGite.mdf;Integrated Security=True;Integrated Security=True"/>
  </connectionStrings>
</configuration>